<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
    <connectionStrings>
		<add name="dbconnection" connectionString="Server=ss.cs.luc.edu;uid=nrittling;pwd=p02372;Initial Catalog=Market"/>
	</connectionStrings>
</configuration>
